<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppCenterEnabled</key>
	<true/>
	<key>AppCenterInitCompleted</key>
	<true/>
	<key>AppExitGraceful</key>
	<false/>
	<key>CampaignManagerVersionKey</key>
	<string>26062.0402.0002</string>
	<key>EnableDuplicateInstanceCheckUsingFileLockV2_Business1</key>
	<true/>
	<key>EnableDuplicateInstanceCheckUsingFileLockV2_Business2</key>
	<true/>
	<key>EnableDuplicateInstanceCheckUsingFileLockV2_Business3</key>
	<true/>
	<key>EnableDuplicateInstanceCheckUsingFileLockV2_Business4</key>
	<true/>
	<key>EnableDuplicateInstanceCheckUsingFileLockV2_Personal</key>
	<true/>
	<key>FirstDeleteDialogsShown</key>
	<integer>5</integer>
	<key>HasConsumedFileProviderEducationACM</key>
	<true/>
	<key>HockeyAppDisabledByConfig</key>
	<false/>
	<key>IsBusinessProvisioned</key>
	<true/>
	<key>LastDAUEventTimestamp_Business1</key>
	<integer>1777457545</integer>
	<key>LastDAUEventTimestamp_Business2</key>
	<integer>1777462011</integer>
	<key>LastDAUEventTimestamp_Business4</key>
	<integer>1777299552</integer>
	<key>LoginKeychainEmpty</key>
	<true/>
	<key>MSAppCenter310AppCenterUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenter310CrashesUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenterAppDidReceiveMemoryWarning</key>
	<true/>
	<key>MSAppCenterInstallId</key>
	<string>F2ED04F8-AEC2-4FB9-A141-756BCE5E9F5A</string>
	<key>MSAppCenterPastDevices</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvEBYLDBIYHCJQUVJTVFVWV1hZ
	WltcXWJnVSRudWxs0g0ODxFaTlMub2JqZWN0c1YkY2xhc3OhEIACgBXTExQOFRYXXHRp
	bWVzdGFtcEtleVlkZXZpY2VLZXmAA4AFgBTSGQ4aG1dOUy50aW1lI0HHLZ85lYMngATS
	HR4fIFokY2xhc3NuYW1lWCRjbGFzc2VzVk5TRGF0ZaIfIVhOU09iamVjdN8QFyMkJSYO
	JygpKissLS4vMDEyMzQ1Njc4OTo7PD0+PDxBQjw8PDxHSElKPDxNTk9Zb3NWZXJzaW9u
	XnRpbWVab25lT2Zmc2V0WGFwcEJ1aWxkXxAVbGl2ZVVwZGF0ZVBhY2thZ2VIYXNoWmFw
	cFZlcnNpb25fEBF3cmFwcGVyU2RrVmVyc2lvbltjYXJyaWVyTmFtZVdzZGtOYW1lVmxv
	Y2FsZV8QF2xpdmVVcGRhdGVEZXBsb3ltZW50S2V5XmNhcnJpZXJDb3VudHJ5Wm9zQXBp
	TGV2ZWxed3JhcHBlclNka05hbWVXb2VtTmFtZVpzZGtWZXJzaW9uXGFwcE5hbWVzcGFj
	ZVVtb2RlbF8QFXdyYXBwZXJSdW50aW1lVmVyc2lvbl8QFmxpdmVVcGRhdGVSZWxlYXNl
	TGFiZWxac2NyZWVuU2l6ZVZvc05hbWVXb3NCdWlsZIALgA6AEYAAgBOAEIAAgACABoAN
	gACAAIAAgACACYAHgBKACIAAgACAD4AKgAxfEA9hcHBjZW50ZXIubWFjb3NVNC40LjNe
	TWFjQm9va0FpcjEwLDFVQXBwbGVVbWFjT1NWMTUuNi4xVTI0RzkwVWVuX0lMELRZMTky
	MHgxMDgwWzI1LjE0MC4wNzIwXxAPMjUxNDAuMDcyMC4wMDAxXxAWY29tLm1pY3Jvc29m
	dC5PbmVEcml2ZdIdHl5fWk1TQUNEZXZpY2WjYGEhWk1TQUNEZXZpY2VeTVNBQ1dyYXBw
	ZXJTZGvSHR5jZF8QFU1TQUNEZXZpY2VIaXN0b3J5SW5mb6NlZiFfEBVNU0FDRGV2aWNl
	SGlzdG9yeUluZm9fEA9NU0FDSGlzdG9yeUluZm/SHR5oaV5OU011dGFibGVBcnJheaNo
	aiFXTlNBcnJheQAIABEAGgAkACkAMgA3AEkATABRAFMAbAByAHcAggCJAIsAjQCPAJYA
	owCtAK8AsQCzALgAwADJAMsA0ADbAOQA6wDuAPcBKAEyAUEBSgFiAW0BgQGNAZUBnAG2
	AcUB0AHfAecB8gH/AgUCHQI2AkECSAJQAlICVAJWAlgCWgJcAl4CYAJiAmQCZgJoAmoC
	bAJuAnACcgJ0AnYCeAJ6AnwCfgKQApYCpQKrArECuAK+AsQCxgLQAtwC7gMHAwwDFwMb
	AyYDNQM6A1IDVgNuA4ADhQOUA5gAAAAAAAACAQAAAAAAAABrAAAAAAAAAAAAAAAAAAAD
	oA==
	</data>
	<key>MSAppCenterSessionIdHistory</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwSGBwiJ1UkbnVsbNINDg8R
	Wk5TLm9iamVjdHNWJGNsYXNzoRCAAoAG0xMUDhUWF1x0aW1lc3RhbXBLZXlcc2Vzc2lv
	bklkS2V5gAOAAIAF0hkOGhtXTlMudGltZSNBxy2fOZP/R4AE0h0eHyBaJGNsYXNzbmFt
	ZVgkY2xhc3Nlc1ZOU0RhdGWiHyFYTlNPYmplY3TSHR4jJF8QFk1TQUNTZXNzaW9uSGlz
	dG9yeUluZm+jJSYhXxAWTVNBQ1Nlc3Npb25IaXN0b3J5SW5mb18QD01TQUNIaXN0b3J5
	SW5mb9IdHigpXk5TTXV0YWJsZUFycmF5oygqIVdOU0FycmF5AAgAEQAaACQAKQAyADcA
	SQBMAFEAUwBbAGEAZgBxAHgAegB8AH4AhQCSAJ8AoQCjAKUAqgCyALsAvQDCAM0A1gDd
	AOAA6QDuAQcBCwEkATYBOwFKAU4AAAAAAAACAQAAAAAAAAArAAAAAAAAAAAAAAAAAAAB
	Vg==
	</data>
	<key>MSAppCenterUserIdHistory</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGoCwwSGBwiIyhVJG51bGzSDQ4P
	EVpOUy5vYmplY3RzViRjbGFzc6EQgAKAB9MTFA4VFhdcdGltZXN0YW1wS2V5WXVzZXJJ
	ZEtleYADgAWABtIZDhobV05TLnRpbWUjQcctnzmWCo2ABNIdHh8gWiRjbGFzc25hbWVY
	JGNsYXNzZXNWTlNEYXRloh8hWE5TT2JqZWN0XxAkNjc5MDE2M2MtMmRiMS00MWQ1LTg0
	NjUtMzAwMGE3ZGY3MWRj0h0eJCVfEBVNU0FDVXNlcklkSGlzdG9yeUluZm+jJichXxAV
	TVNBQ1VzZXJJZEhpc3RvcnlJbmZvXxAPTVNBQ0hpc3RvcnlJbmZv0h0eKSpeTlNNdXRh
	YmxlQXJyYXmjKSshV05TQXJyYXkACAARABoAJAApADIANwBJAEwAUQBTAFwAYgBnAHIA
	eQB7AH0AfwCGAJMAnQCfAKEAowCoALAAuQC7AMAAywDUANsA3gDnAQ4BEwErAS8BRwFZ
	AV4BbQFxAAAAAAAAAgEAAAAAAAAALAAAAAAAAAAAAAAAAAAAAXk=
	</data>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{1060, 448}</string>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va6QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAIQBAAAEAAAAAwMAAAAAACAFAAAAAQEAAFVzZXJzAAAABAAAAAEB
	AABnaWxmCAAAAAEBAABPbmVEcml2ZQwAAAABBgAAEAAAACAAAAAsAAAACAAAAAQDAAAV
	XQAAAAAAAAgAAAAEAwAAtCkFAAAAAAAIAAAABAMAAChLjw0AAAAADAAAAAEGAABQAAAA
	YAAAAHAAAAAIAAAAAAQAAEHHz9Vu9ma4GAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAA
	AAAAAAAAAAAAAQUAAAgAAAAEAwAAAQAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZp
	bGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAAhxE5AAAACAAAAAAEAABB
	x8HRCIAAACQAAAABAQAAQ0RFMDAzMDItNDdBRS00NTlDLTk0MjItQTg0RDFFQkI5OUEz
	GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAADYAAAA/v//
	/wEAAAAAAAAAEQAAAAQQAAA8AAAAAAAAAAUQAACAAAAAAAAAABAQAACkAAAAAAAAAEAQ
	AACUAAAAAAAAAAIgAAB4AQAAAAAAAAUgAADoAAAAAAAAABAgAAD4AAAAAAAAABEgAAAs
	AQAAAAAAABIgAAAMAQAAAAAAABMgAAAcAQAAAAAAACAgAABYAQAAAAAAADAgAADEAAAA
	AAAAAAHAAADMAAAAAAAAABHAAAAgAAAAAAAAABLAAADcAAAAAAAAAAHQAADEAAAAAAAA
	ABDQAAAEAAAAAAAAAA==
	</data>
	<key>NSOpenGLContextReplaceViewLayer</key>
	<false/>
	<key>NSStatusItem VisibleCC Item-0</key>
	<true/>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>561 377 800 448 0 0 1920 1055 </string>
	<key>OSLocale</key>
	<string>en_IL</string>
	<key>OSVersion</key>
	<string>26.4.1</string>
	<key>OpenAtLogin</key>
	<integer>1</integer>
	<key>RCTI18nUtil_makeRTLFlipLeftAndRightStyles</key>
	<true/>
	<key>SessionId</key>
	<string>CDE5DFB7-57A0-4A8B-AE8C-02A31855EF22</string>
	<key>SessionLongBuildNumber</key>
	<string>0002</string>
	<key>SessionVersion</key>
	<string>26.062.0402</string>
	<key>SilentBusinessConfigCompleted</key>
	<integer>1</integer>
	<key>UpdateRingSettingsLastSuccess</key>
	<integer>20564</integer>
	<key>UseMERPCrashReportingSdk</key>
	<true/>
	<key>kAppBootTimeForUAE</key>
	<date>2026-04-29T11:22:39Z</date>
</dict>
</plist>
