<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>5bd3a73c-4849-4e03-988d-caae3ddb86a9_ADAL-FetchInterval</key>
	<integer>86400</integer>
	<key>5bd3a73c-4849-4e03-988d-caae3ddb86a9_ADAL-LastFetchTime</key>
	<real>799109575</real>
	<key>5bd3a73c-4849-4e03-988d-caae3ddb86a9_ADAL-LastHash</key>
	<string>LTg4NjY1ODE0ODE4NzQ2MzkzMQ==</string>
	<key>5bd3a73c-4849-4e03-988d-caae3ddb86a9_ADAL-LastPolicies</key>
	<data>
	eyJwb2xpY2llc0hhc2giOiJMVGc0TmpZMU9ERTBPREU0TnpRMk16a3pNUT09IiwidmFs
	dWUiOlt7ImlkIjoiTGdBQUFBRExVRmF0OG5kVFFMWk9OVG5IN1p1MkFRRHkyOEhNRk82
	eVRwSnRkc1ZHUWZJSEFBVU1WT21TQUFBQjAiLCJwb2xpY3lUeXBlIjoxLCJwcmlvcml0
	eSI6MCwicG9saWNpZXNQYXlsb2FkIjpbeyJhbGxvd092ZXJyaWRlIjpmYWxzZSwiYXBw
	Ijoib2ZmaWNlMTYiLCJjbGFzcyI6IlVzZXIiLCJlbmFibGVkIjpmYWxzZSwia2V5Ijoi
	Y29tbW9uXFxjb3BpbG90IiwibWF4VmVyc2lvbiI6bnVsbCwibWluVmVyc2lvbiI6bnVs
	bCwibmFtZSI6bnVsbCwicGxhdGZvcm0iOiJNYWMiLCJzZXR0aW5nSWQiOiJvZmZpY2Ux
	NjtMX0NvcGlsb3RQaW5uaW5nIiwidHlwZSI6IlJFR19EV09SRCIsInZhbHVlIjoiMSIs
	InZhbHVlTmFtZSI6IkNvcGlsb3RQaW5uaW5nIiwidmVyc2lvbiI6bnVsbCwiaXNWZXJz
	aW9uTmV1dHJhbCI6IkZhbHNlIiwiZG9jVmVyc2lvbiI6bnVsbH0seyJhbGxvd092ZXJy
	aWRlIjpmYWxzZSwiYXBwIjoib2ZmaWNlMTYiLCJjbGFzcyI6IlVzZXIiLCJlbmFibGVk
	IjpmYWxzZSwia2V5IjoiY29tbW9uXFxjb3BpbG90IiwibWF4VmVyc2lvbiI6bnVsbCwi
	bWluVmVyc2lvbiI6bnVsbCwibmFtZSI6bnVsbCwicGxhdGZvcm0iOiJNYWMiLCJzZXR0
	aW5nSWQiOiJvZmZpY2UxNjtMX1Bpbm5pbmdTdGF0ZWZvckNvcGlsb3RBcHAiLCJ0eXBl
	IjoiUkVHX0RXT1JEIiwidmFsdWUiOiIxIiwidmFsdWVOYW1lIjoiUGlubmluZ1N0YXRl
	Zm9yQ29waWxvdEFwcCIsInZlcnNpb24iOm51bGwsImlzVmVyc2lvbk5ldXRyYWwiOiJG
	YWxzZSIsImRvY1ZlcnNpb24iOm51bGx9XX1dfQ==
	</data>
	<key>6790163c-2db1-41d5-8465-3000a7df71dc_ADAL-FetchInterval</key>
	<integer>86400</integer>
	<key>6790163c-2db1-41d5-8465-3000a7df71dc_ADAL-LastFetchTime</key>
	<real>799070639</real>
	<key>6790163c-2db1-41d5-8465-3000a7df71dc_ADAL-LastHash</key>
	<string>LTg4NjY1ODE0ODE4NzQ2MzkzMQ==</string>
	<key>6790163c-2db1-41d5-8465-3000a7df71dc_ADAL-LastPolicies</key>
	<data>
	eyJwb2xpY2llc0hhc2giOiJMVGc0TmpZMU9ERTBPREU0TnpRMk16a3pNUT09IiwidmFs
	dWUiOlt7ImlkIjoiTGdBQUFBRExVRmF0OG5kVFFMWk9OVG5IN1p1MkFRRHkyOEhNRk82
	eVRwSnRkc1ZHUWZJSEFBVU1WT21TQUFBQjAiLCJwb2xpY3lUeXBlIjoxLCJwcmlvcml0
	eSI6MCwicG9saWNpZXNQYXlsb2FkIjpbeyJhbGxvd092ZXJyaWRlIjpmYWxzZSwiYXBw
	Ijoib2ZmaWNlMTYiLCJjbGFzcyI6IlVzZXIiLCJlbmFibGVkIjpmYWxzZSwia2V5Ijoi
	Y29tbW9uXFxjb3BpbG90IiwibWF4VmVyc2lvbiI6bnVsbCwibWluVmVyc2lvbiI6bnVs
	bCwibmFtZSI6bnVsbCwicGxhdGZvcm0iOiJNYWMiLCJzZXR0aW5nSWQiOiJvZmZpY2Ux
	NjtMX0NvcGlsb3RQaW5uaW5nIiwidHlwZSI6IlJFR19EV09SRCIsInZhbHVlIjoiMSIs
	InZhbHVlTmFtZSI6IkNvcGlsb3RQaW5uaW5nIiwidmVyc2lvbiI6bnVsbCwiaXNWZXJz
	aW9uTmV1dHJhbCI6IkZhbHNlIiwiZG9jVmVyc2lvbiI6bnVsbH0seyJhbGxvd092ZXJy
	aWRlIjpmYWxzZSwiYXBwIjoib2ZmaWNlMTYiLCJjbGFzcyI6IlVzZXIiLCJlbmFibGVk
	IjpmYWxzZSwia2V5IjoiY29tbW9uXFxjb3BpbG90IiwibWF4VmVyc2lvbiI6bnVsbCwi
	bWluVmVyc2lvbiI6bnVsbCwibmFtZSI6bnVsbCwicGxhdGZvcm0iOiJNYWMiLCJzZXR0
	aW5nSWQiOiJvZmZpY2UxNjtMX1Bpbm5pbmdTdGF0ZWZvckNvcGlsb3RBcHAiLCJ0eXBl
	IjoiUkVHX0RXT1JEIiwidmFsdWUiOiIxIiwidmFsdWVOYW1lIjoiUGlubmluZ1N0YXRl
	Zm9yQ29waWxvdEFwcCIsInZlcnNpb24iOm51bGwsImlzVmVyc2lvbk5ldXRyYWwiOiJG
	YWxzZSIsImRvY1ZlcnNpb24iOm51bGx9XX1dfQ==
	</data>
	<key>7756a18a-ccd9-4434-9520-a2f751b63d4d_ADAL-FetchInterval</key>
	<integer>86400</integer>
	<key>7756a18a-ccd9-4434-9520-a2f751b63d4d_ADAL-LastFetchTime</key>
	<real>799070637</real>
	<key>7756a18a-ccd9-4434-9520-a2f751b63d4d_ADAL-LastHash</key>
	<string>LTg4NjY1ODE0ODE4NzQ2MzkzMQ==</string>
	<key>7756a18a-ccd9-4434-9520-a2f751b63d4d_ADAL-LastPolicies</key>
	<data>
	eyJwb2xpY2llc0hhc2giOiJMVGc0TmpZMU9ERTBPREU0TnpRMk16a3pNUT09IiwidmFs
	dWUiOlt7ImlkIjoiTGdBQUFBRExVRmF0OG5kVFFMWk9OVG5IN1p1MkFRRHkyOEhNRk82
	eVRwSnRkc1ZHUWZJSEFBVU1WT21TQUFBQjAiLCJwb2xpY3lUeXBlIjoxLCJwcmlvcml0
	eSI6MCwicG9saWNpZXNQYXlsb2FkIjpbeyJhbGxvd092ZXJyaWRlIjpmYWxzZSwiYXBw
	Ijoib2ZmaWNlMTYiLCJjbGFzcyI6IlVzZXIiLCJlbmFibGVkIjpmYWxzZSwia2V5Ijoi
	Y29tbW9uXFxjb3BpbG90IiwibWF4VmVyc2lvbiI6bnVsbCwibWluVmVyc2lvbiI6bnVs
	bCwibmFtZSI6bnVsbCwicGxhdGZvcm0iOiJNYWMiLCJzZXR0aW5nSWQiOiJvZmZpY2Ux
	NjtMX0NvcGlsb3RQaW5uaW5nIiwidHlwZSI6IlJFR19EV09SRCIsInZhbHVlIjoiMSIs
	InZhbHVlTmFtZSI6IkNvcGlsb3RQaW5uaW5nIiwidmVyc2lvbiI6bnVsbCwiaXNWZXJz
	aW9uTmV1dHJhbCI6IkZhbHNlIiwiZG9jVmVyc2lvbiI6bnVsbH0seyJhbGxvd092ZXJy
	aWRlIjpmYWxzZSwiYXBwIjoib2ZmaWNlMTYiLCJjbGFzcyI6IlVzZXIiLCJlbmFibGVk
	IjpmYWxzZSwia2V5IjoiY29tbW9uXFxjb3BpbG90IiwibWF4VmVyc2lvbiI6bnVsbCwi
	bWluVmVyc2lvbiI6bnVsbCwibmFtZSI6bnVsbCwicGxhdGZvcm0iOiJNYWMiLCJzZXR0
	aW5nSWQiOiJvZmZpY2UxNjtMX1Bpbm5pbmdTdGF0ZWZvckNvcGlsb3RBcHAiLCJ0eXBl
	IjoiUkVHX0RXT1JEIiwidmFsdWUiOiIxIiwidmFsdWVOYW1lIjoiUGlubmluZ1N0YXRl
	Zm9yQ29waWxvdEFwcCIsInZlcnNpb24iOm51bGwsImlzVmVyc2lvbk5ldXRyYWwiOiJG
	YWxzZSIsImRvY1ZlcnNpb24iOm51bGx9XX1dfQ==
	</data>
	<key>938a6200-f574-4981-bd0e-8dc6812dc45e_ADAL-FetchInterval</key>
	<integer>86400</integer>
	<key>938a6200-f574-4981-bd0e-8dc6812dc45e_ADAL-LastFetchTime</key>
	<real>799070639</real>
	<key>938a6200-f574-4981-bd0e-8dc6812dc45e_ADAL-LastHash</key>
	<string>LTg4NjY1ODE0ODE4NzQ2MzkzMQ==</string>
	<key>938a6200-f574-4981-bd0e-8dc6812dc45e_ADAL-LastPolicies</key>
	<data>
	eyJwb2xpY2llc0hhc2giOiJMVGc0TmpZMU9ERTBPREU0TnpRMk16a3pNUT09IiwidmFs
	dWUiOlt7ImlkIjoiTGdBQUFBRExVRmF0OG5kVFFMWk9OVG5IN1p1MkFRRHkyOEhNRk82
	eVRwSnRkc1ZHUWZJSEFBVU1WT21TQUFBQjAiLCJwb2xpY3lUeXBlIjoxLCJwcmlvcml0
	eSI6MCwicG9saWNpZXNQYXlsb2FkIjpbeyJhbGxvd092ZXJyaWRlIjpmYWxzZSwiYXBw
	Ijoib2ZmaWNlMTYiLCJjbGFzcyI6IlVzZXIiLCJlbmFibGVkIjpmYWxzZSwia2V5Ijoi
	Y29tbW9uXFxjb3BpbG90IiwibWF4VmVyc2lvbiI6bnVsbCwibWluVmVyc2lvbiI6bnVs
	bCwibmFtZSI6bnVsbCwicGxhdGZvcm0iOiJNYWMiLCJzZXR0aW5nSWQiOiJvZmZpY2Ux
	NjtMX0NvcGlsb3RQaW5uaW5nIiwidHlwZSI6IlJFR19EV09SRCIsInZhbHVlIjoiMSIs
	InZhbHVlTmFtZSI6IkNvcGlsb3RQaW5uaW5nIiwidmVyc2lvbiI6bnVsbCwiaXNWZXJz
	aW9uTmV1dHJhbCI6IkZhbHNlIiwiZG9jVmVyc2lvbiI6bnVsbH0seyJhbGxvd092ZXJy
	aWRlIjpmYWxzZSwiYXBwIjoib2ZmaWNlMTYiLCJjbGFzcyI6IlVzZXIiLCJlbmFibGVk
	IjpmYWxzZSwia2V5IjoiY29tbW9uXFxjb3BpbG90IiwibWF4VmVyc2lvbiI6bnVsbCwi
	bWluVmVyc2lvbiI6bnVsbCwibmFtZSI6bnVsbCwicGxhdGZvcm0iOiJNYWMiLCJzZXR0
	aW5nSWQiOiJvZmZpY2UxNjtMX1Bpbm5pbmdTdGF0ZWZvckNvcGlsb3RBcHAiLCJ0eXBl
	IjoiUkVHX0RXT1JEIiwidmFsdWUiOiIxIiwidmFsdWVOYW1lIjoiUGlubmluZ1N0YXRl
	Zm9yQ29waWxvdEFwcCIsInZlcnNpb24iOm51bGwsImlzVmVyc2lvbk5ldXRyYWwiOiJG
	YWxzZSIsImRvY1ZlcnNpb24iOm51bGx9XX1dfQ==
	</data>
	<key>ConnectedOfficeExperiencesPreference</key>
	<true/>
	<key>CurrentUserConsentGroupKey</key>
	<integer>1</integer>
	<key>DefaultsToLocalOpenSave</key>
	<false/>
	<key>DiagnosticDataTypePreference</key>
	<string>FullDiagnosticData</string>
	<key>DocsUICustomTemplatesLocationMigrationKey</key>
	<true/>
	<key>DownloadAndUpdate:Microsoft Excel</key>
	<true/>
	<key>ErrorReportingUUID</key>
	<string>78AF30CD-3135-468A-9E3F-B334ECBEB132</string>
	<key>HasUserSeenEnterpriseFREDialog</key>
	<false/>
	<key>HaveMergedOldPrefs</key>
	<true/>
	<key>IgnoreForcedPreferences</key>
	<false/>
	<key>MacOSTicketCacheEncrypted</key>
	<true/>
	<key>MerpStateKey_com.microsoft.Outlook</key>
	<integer>0</integer>
	<key>MerpStateKey_com.microsoft.Powerpoint</key>
	<integer>0</integer>
	<key>MerpStateKey_com.microsoft.Word</key>
	<integer>0</integer>
	<key>MerpStateKey_com.microsoft.onenote.mac</key>
	<integer>0</integer>
	<key>OCPS-LastSuccessfulUserId</key>
	<string>5bd3a73c-4849-4e03-988d-caae3ddb86a9_ADAL</string>
	<key>OfficeActivationEmailAddress</key>
	<string>gilf@emendobio.com</string>
	<key>OfficeActivationLicense</key>
	<string>Subscription</string>
	<key>OfficeExperiencesAnalyzingContentPreference</key>
	<true/>
	<key>OfficeExperiencesDownloadingContentPreference</key>
	<true/>
	<key>OneAuthEnabledInSuite</key>
	<true/>
	<key>OptionalConnectedExperiencesPreference</key>
	<true/>
	<key>SendAllTelemetryEnabled</key>
	<true/>
	<key>TenantAssociationKey-LastFetchTime</key>
	<real>731746539</real>
	<key>TenantIDKey</key>
	<string>afaf02c6-ffc4-48c0-88b1-4feb1092b6f7</string>
	<key>TenantIDResult</key>
	<integer>6</integer>
	<key>TermsAccepted1809</key>
	<true/>
	<key>TotalErrors</key>
	<integer>4</integer>
	<key>UpdatingTicketCache</key>
	<false/>
	<key>UpgradedOffice2011</key>
	<true/>
	<key>WLMKernel.Registry.UseRWDBSentinelFile</key>
	<false/>
	<key>com.microsoft.Excel</key>
	<dict>
		<key>ExceptionEnumString</key>
		<string>12345</string>
	</dict>
	<key>com.microsoft.Outlook</key>
	<dict>
		<key>ExceptionEnumString</key>
		<string>12345</string>
	</dict>
	<key>com.microsoft.Powerpoint</key>
	<dict>
		<key>ExceptionEnumString</key>
		<string>12345</string>
	</dict>
	<key>com.microsoft.Word</key>
	<dict>
		<key>ExceptionEnumString</key>
		<string>12345</string>
	</dict>
	<key>com.microsoft.onenote.mac</key>
	<dict>
		<key>ExceptionEnumString</key>
		<string>12345</string>
	</dict>
	<key>f6b0ce85-1ed7-4f56-bb65-9d3ca68d7760_ADAL-FetchInterval</key>
	<integer>86400</integer>
	<key>f6b0ce85-1ed7-4f56-bb65-9d3ca68d7760_ADAL-LastFetchTime</key>
	<real>782032661</real>
	<key>f6b0ce85-1ed7-4f56-bb65-9d3ca68d7760_ADAL-LastHash</key>
	<string>LTg4NjY1ODE0ODE4NzQ2MzkzMQ==</string>
	<key>f6b0ce85-1ed7-4f56-bb65-9d3ca68d7760_ADAL-LastPolicies</key>
	<data>
	eyJwb2xpY2llc0hhc2giOiJMVGc0TmpZMU9ERTBPREU0TnpRMk16a3pNUT09IiwidmFs
	dWUiOlt7ImlkIjoiTGdBQUFBRExVRmF0OG5kVFFMWk9OVG5IN1p1MkFRRHkyOEhNRk82
	eVRwSnRkc1ZHUWZJSEFBVU1WT21TQUFBQjAiLCJwb2xpY3lUeXBlIjoxLCJwcmlvcml0
	eSI6MCwicG9saWNpZXNQYXlsb2FkIjpbeyJhbGxvd092ZXJyaWRlIjpmYWxzZSwiYXBw
	Ijoib2ZmaWNlMTYiLCJjbGFzcyI6IlVzZXIiLCJlbmFibGVkIjpmYWxzZSwia2V5Ijoi
	Y29tbW9uXFxjb3BpbG90IiwibWF4VmVyc2lvbiI6bnVsbCwibWluVmVyc2lvbiI6bnVs
	bCwibmFtZSI6bnVsbCwicGxhdGZvcm0iOiJNYWMiLCJzZXR0aW5nSWQiOiJvZmZpY2Ux
	NjtMX0NvcGlsb3RQaW5uaW5nIiwidHlwZSI6IlJFR19EV09SRCIsInZhbHVlIjoiMSIs
	InZhbHVlTmFtZSI6IkNvcGlsb3RQaW5uaW5nIiwidmVyc2lvbiI6bnVsbCwiaXNWZXJz
	aW9uTmV1dHJhbCI6IkZhbHNlIiwiZG9jVmVyc2lvbiI6bnVsbH0seyJhbGxvd092ZXJy
	aWRlIjpmYWxzZSwiYXBwIjoib2ZmaWNlMTYiLCJjbGFzcyI6IlVzZXIiLCJlbmFibGVk
	IjpmYWxzZSwia2V5IjoiY29tbW9uXFxjb3BpbG90IiwibWF4VmVyc2lvbiI6bnVsbCwi
	bWluVmVyc2lvbiI6bnVsbCwibmFtZSI6bnVsbCwicGxhdGZvcm0iOiJNYWMiLCJzZXR0
	aW5nSWQiOiJvZmZpY2UxNjtMX1Bpbm5pbmdTdGF0ZWZvckNvcGlsb3RBcHAiLCJ0eXBl
	IjoiUkVHX0RXT1JEIiwidmFsdWUiOiIxIiwidmFsdWVOYW1lIjoiUGlubmluZ1N0YXRl
	Zm9yQ29waWxvdEFwcCIsInZlcnNpb24iOm51bGwsImlzVmVyc2lvbk5ldXRyYWwiOiJG
	YWxzZSIsImRvY1ZlcnNpb24iOm51bGx9XX1dfQ==
	</data>
	<key>kFRETermsOfUseUpdatedShown</key>
	<integer>2022</integer>
	<key>kFRETermsOfUseUpdatingShown</key>
	<integer>2022</integer>
	<key>launchWhenDone:Microsoft Excel</key>
	<true/>
	<key>privacyEUDBRegion</key>
	<true/>
</dict>
</plist>
